* {
  font-family: 'Arial';
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 60px;
  margin-bottom: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.sidebar {
  background: #f9f9f9;
  padding: 30px;
  flex: 0 0 160px;

  &__title {
    text-transform: uppercase;
    font-size: 12px;
    color: #666;
    margin-bottom: 10px;
  }

  &__link {
    color: #666;
    font-size: 12px;
    text-decoration: none;
    padding: 5px 0;
    display: block;
  }
}

.layout {
  &--sidebar {
    display: flex;
    // flex: 1;
  }
}

.main {
  padding: 50px;
}
