* {
  font-family: 'Arial';
  margin: 0;
  padding: 0;
}

html, body, .layout {
  height: 100%;
}

h1 {
  font-size: 60px;
  margin-bottom: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.sidebar {
  background: #f9f9f9;
  padding: 30px;
  flex: 0 0 160px;
  box-sizing: border-box;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  a {
    text-decoration: none;
    color: #666;

    &:hover {
      text-decoration: underline;
    }
  }

  &__title {
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 600;
  }

  &__link {
    font-size: 16px;
    padding: 5px 0;
    display: block;
  }
}

.layout {
  &--sidebar {
    display: flex;
  }
}

.main {
  padding: 50px;
  flex: 1;
  overflow-y: scroll;
}

.label {
  display: block;
  font-weight: 600;
  margin-bottom: 10px;
}

.input {
  border: solid #ccc 1px;
  padding: 10px;
  font-size: 16px;
  outline: 0;

  &:focus {
    border-color: $blue;
  }
}

.checkbox {
  display: block;
  margin-bottom: 10px;

  input {
    margin-right: 5px;
  }

  label {
    font-size: 14px;
    cursor: pointer;
  }
}

.button {
  border: solid 1px #ccc;
  border-radius: 2px;
  background: #fff;
  padding: 10px 20px;
  font-size: 11px;
  text-transform: uppercase;
  color: #999;
  font-weight: 400;

  &:hover {
    background: #f9f9f9;
    cursor: pointer;
  }
}

.field {
  margin-bottom: 20px;
}

.margin-bottom {
  margin-bottom: 10px;
}
