<!DOCTYPE html>
<html>
<head>
  <title>Spotify</title>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>

  <script src="https://sdk.scdn.co/spotify-player.js"></script>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</body>
</html>
